{% extends 'admin/base.html' %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <div class="row">
            <form action="{{ url_for("admin.add_article") }}" method="post" class="add-article-form">
                <div class="col-md-9">
                    <h1 class="page-header">撰写新文章</h1>
                    <div class="form-group">
                        <label for="article-title" class="sr-only">标题</label>
                        <input type="text" id="article-title" name="title" class="form-control" placeholder="在此处输入标题" required autofocus autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="article-content" class="sr-only">内容</label>
                        <script id="article-content" name="content" type="text/plain"></script>
                    </div>
                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>标签</span></h2>
                        <div class="add-article-box-content">
                            <ul class="category-list">
                                {% for tag in tags %}
                                    <li>
                                        <label>
                                            {% if loop.first %}
                                                <input name="tags" type="checkbox" value="{{ tag.id }}"
                                                       checked="checked">
                                                {{ tag.name }}
                                                <em class="hidden-md">( 标签ID: <span>{{ tag.id }}</span> )</em>
                                            {% else %}
                                                <input name="tags" type="checkbox" value="{{ tag.id }}">
                                                {{ tag.name }}
                                                <em class="hidden-md">( 标签ID: <span>{{ tag.id }}</span> )</em>
                                            {% endif %}

                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>描述</span></h2>
                        <div class="add-article-box-content">
                            <textarea class="form-control" name="describe" autocomplete="off" required></textarea>
                            <span class="prompt-text">描述是可选的手工创建的内容总结，并可以在网页描述中使用</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 class="page-header">操作</h1>
                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>栏目</span></h2>
                        <div class="add-article-box-content">
                            <ul class="category-list">
                                {% for type in types %}
                                    {% if loop.first %}
                                        <li>
                                            <label>
                                                <input name="category" type="radio" value="{{ type.id }}" checked>
                                                {{ type.name }} <em class="hidden-md">( 分类ID: <span>{{ type.id }}</span>
                                                )</em></label>
                                        </li>
                                    {% else %}
                                        <li>
                                            <label>
                                                <input name="category" type="radio" value="{{ type.id }}">
                                                {{ type.name }} <em class="hidden-md">( 分类ID: <span>{{ type.id }}</span>
                                                )</em></label>
                                        </li>
                                    {% endif %}

                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>标题图片</span></h2>
                        <div class="add-article-box-content">
                            <input type="text" class="form-control" placeholder="点击按钮选择图片" id="pictureUpload"
                                   name="titlepic" autocomplete="off" required>
                        </div>
                        <div class="add-article-box-footer">
                            <button class="btn btn-default" type="button" ID="upImage">选择</button>
                        </div>
                    </div>
                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>发布</span></h2>
                        <div class="add-article-box-content">

                        </div>
                        <div class="add-article-box-footer">
                            <button class="btn btn-primary" type="submit" name="submit">发布</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}