{% extends "admin/base.html" %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <form action="/Comment/checkAll" method="post">
            <h1 class="page-header">管理 <span class="badge">{{ comments | length }}</span></h1>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">选择</span></th>
                        <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">摘要</span></th>
                        <th><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                        <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
                    </tr>
                    </thead>
                    <tbody id="see">
                    {% for comment in comments %}
                        <tr>
                            <td><input type="checkbox" class="input-control" name="checkbox[]"
                                       value="{{ comment.id }}"/></td>
                            <td class="article-title">{{ comment.content }}</td>
                            <td>{{ comment.time }}</td>
                            <td><a rel="{{ comment.id }}" name="see" class="see_comment">查看</a> <a
                                    rel="{{ comment.id }}" name="delete" class="del_comment">删除</a></td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
            <footer class="message_footer">
                <nav>
                    <div class="btn-toolbar operation" role="toolbar">
                        <div class="btn-group" role="group"><a class="btn btn-default" onClick="select()">全选</a> <a
                                class="btn btn-default" onClick="reverse()">反选</a> <a class="btn btn-default"
                                                                                      onClick="noselect()">不选</a></div>
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"
                                    title="删除全部选中" name="checkbox_delete">删除
                            </button>
                        </div>
                    </div>
                    <ul class="pagination pagenav">
                        {% if pagination.has_prev %}
                            <li>
                                <a aria-label="Previous"
                                   href="{{ url_for("admin.admin_comments") }}?page={{ pagination.prev_num }}"> <span
                                        aria-hidden="true">&laquo;</span> </a>
                            </li>

                        {% else %}
                            <li class="disabled"><a aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
                            </li>

                        {% endif %}
                        {% for iter_page in pagination.iter_pages() %}
                            {% if iter_page == pagination.page %}
                                <li class="active"><a>{{ iter_page }}</a></li>
                            {% else %}
                                <li>
                                    <a href="{{ url_for("admin.admin_comments") }}?page={{ iter_page }}">{{ iter_page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if pagination.has_next %}
                            <li><a aria-label="Next"
                                   href="{{ url_for("admin.admin_comments") }}?page={{ pagination.next_num }}"> <span
                                    aria-hidden="true">&raquo;</span> </a></li>

                        {% else %}
                            <li class="disabled"><a aria-label="Next"> <span aria-hidden="true">&raquo;</span> </a></li>

                        {% endif %}

                    </ul>
                </nav>
            </footer>
        </form>
    </div>

{% endblock %}
{% block MyJs %}
    <script>

        $(function () {
            // 打开查看模态框
            $("#see").delegate(".see_comment", "click", function () {
                c_id = $(this).attr("rel");
                $("#seeComment").addClass("in").slideDown(300);
                data = {
                    "c_id": c_id,
                };

                $.post('/admin/comments/', data = data, function (data) {
                    if (data.code == 1000) {
                        $('.see-comment-id').html(data.id);
                        $('.see-comment-page').html(data.article);
                        $('.see-comment-content').html(data.content);
                        $('.see-comment-address').html(data.username);
                    } else {
                        alert("出错！")
                    }
                });

            });

            // 关闭查看模态框
            $(".close, #close").click(function () {
                $("#seeComment").removeClass("in").slideUp(300);
            });

            //删除单条评论
            $("#see").delegate(".del_comment", "click", function () {
                c_id = $(this).attr("rel");
                that = $(this);
                $.ajax({
                    url: '/admin/comments/',
                    type: 'delete',
                    data: {
                        c_id: c_id,
                    },
                    success: function (data) {
                        if (data.code == 1000) {
                            alert(data.msg);

                        } else {
                            alert(data.msg);
                            window.location.reload()
                        }
                        that.parents("tr").remove();
                    },
                    error: function (e) {
                        alert("出错");
                        window.location.reload()
                    }
                })
            })
        });

    </script>
{% endblock %}