{% extends 'admin/base.html' %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <h1 class="page-header">信息总览</h1>
        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>文章</h4>
                <span class="text-muted">{{ articles | length }} 条</span></div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>评论</h4>
                <span class="text-muted">{{ comments | length }} 条</span></div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>分类</h4>
                <span class="text-muted">{{ types | length }} 条</span></div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <h4>标签</h4>
                <span class="text-muted">{{ tags | length }}</span></div>
        </div>
        <h1 class="page-header">状态</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                <tr>
                    <td>登录者: <span>{{ user.username }}</span>，这是您第 <span>{{ user.logs | length }}</span> 次登录</td>
                </tr>
                <tr>
                    <td>上次登录时间: {{ user.logs[-1].login_time }} , 上次登录IP: {{ user.logs[-1].ip }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h1 class="page-header">系统信息</h1>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr></tr>
                </thead>
                <tbody>
                <tr>
                    <td>管理员个数:</td>
                    <td>2 人</td>
                    <td>服务器软件:</td>
                    <td>Nginx</td>
                </tr>
                <tr>
                    <td>浏览器:</td>
                    <td>{{ request.user_agent }}</td>
                    <td>uwsgi:</td>
                    <td>{{ request.environ['wsgi.version'] }}</td>
                </tr>
                <tr>
                    <td>操作系统:</td>
                    <td>Windows 10</td>
                    <td>Flask运行方式:</td>
                    <td>CGI-FCGI</td>
                </tr>
                <tr>
                    <td>登录者IP:</td>
                    <td>{{ user.logs[-1].ip }}</td>
                    <td>MYSQL版本:</td>
                    <td>5.5.40</td>
                </tr>

                <tr>
                    <td>程序编码:</td>
                    <td>{{ request.charset }}</td>
                    <td>当前时间:</td>
                    <td id="time"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr></tr>
                </tfoot>
            </table>
        </div>

    </div>
{% endblock %}
{% block MyJs %}
    <script>

        $(function () {
            var show = $("#time");
            setInterval(function () {
                var time = new Date();   // 程序计时的月从0开始取值后+1
                var m = time.getMonth() + 1;
                var t = time.getFullYear() + "-" + m + "-"
                    + time.getDate() + " " + time.getHours() + ":"
                    + time.getMinutes() + ":" + time.getSeconds();
                show.html(t);
            }, 1000);
        })

    </script>

{% endblock %}