{% extends 'admin/base.html' %}
{% block content %}

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <div class="row">
            <div class="col-md-5">
                <h1 class="page-header">添加</h1>
                <form action="" method="post" autocomplete="off">
                    <div class="form-group">
                        <label for="category-name">分类名称</label>
                        <input type="text" id="category-name" name="name" class="form-control" placeholder="在此处输入栏目名称"
                               required autocomplete="off">
                        <span class="prompt-text">这将是它在站点上显示的名字。</span></div>
                    <button class="btn btn-primary" type="submit" name="submit" id="add_type">添加新栏目</button>
                </form>
            </div>
            <div class="col-md-7">
                <h1 class="page-header">管理 <span class="badge">3</span></h1>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th><span class="glyphicon glyphicon-paperclip"></span> <span class="visible-lg">ID</span>
                            </th>
                            <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">名称</span></th>
                            <th><span class="glyphicon glyphicon-pushpin"></span> <span class="visible-lg">总数</span>
                            </th>
                            <th><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
                        </tr>
                        </thead>
                        <tbody id="del_type_wei">
                        {% for tag in tags %}
                            <tr>
                                <td>{{ tag.id }}</td>
                                <td>{{ tag.name }}</td>
                                <td>{{ tag.articles | length }}</td>
                                <td><a href="{{ url_for("admin.update_tag", id=tag.id) }}">修改</a> <a
                                        rel="{{ tag.id }}"
                                        class="del_type">删除</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <span class="prompt-text"><strong>注：</strong>删除一个栏目也会删除栏目下的文章和子栏目,请谨慎删除!</span></div>
            </div>
        </div>
    </div>

{% endblock %}
{% block MyJs %}
    <script>

        $(function () {
            // 新增分类
            $("#add_type").click(function () {
                var name = $("#category-name").val();
                if (name == "") {
                    alert("标签名不能为空！");
                    return false;
                }
                data = {
                    name: name,
                };
                $.post("/admin/tags/", data = data, function (data) {
                    if (data.code == 1000) {
                        alert(data.msg);
                        tbody = $("tbody");
                        tbody.append("<tr>\n" +
                            "<td>" + data.id + "</td>\n" +
                            "<td>" + name + "</td>\n" +
                            "<td>" + "0" + "</td>\n" +
                            "<td><a href='/admin/updatetag/" + data.id + "/'>修改</a> <a rel=" + data.id + " class='del_type'>删除</a></td>\n" +
                            "</tr>");
                        $("#category-name").val("");
                    } else {
                        alert(msg);
                        location.reload();
                        $("#category-name").val("");
                    }
                });

                return false;
            });


            $("#del_type_wei").delegate(".del_type", "click", function () {
                tagid = $(this).attr("rel");
                data = {
                    tagid: tagid
                };
                del_type = $(this);


                $.ajax({
                    url: "/admin/tags/",
                    type: "put",
                    data: data,
                    success: function (data) {
                        if (data.code == 1000) {
                            alert(data.msg);
                            del_type.parents("tr").remove();
                        } else {
                            alert(data.msg);
                            window.location.reload()
                        }
                    },
                    error: function (e) {
                        alert("出错");
                        window.location.reload()
                    }
                });

            });
        })

    </script>
{% endblock %}