{% extends 'admin/base.html' %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <div class="row">
            <form action="{{ url_for("admin.update_article", id=article.id) }}" method="post" class="add-article-form">
                <div class="col-md-9">
                    <h1 class="page-header">文章修改</h1>
                    <div class="form-group">
                        <label for="article-title" class="sr-only">标题</label>
                        <input type="text" id="article-title" name="title" class="form-control" placeholder="在此处输入标题"
                               value="{{ article.title }}" required autofocus autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="article-content" class="sr-only">内容</label>
                        <script id="article-content" name="content"
                                type="text/plain">{{ article.content | safe }}</script>
                    </div>
                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>标签</span></h2>
                        <div class="add-article-box-content" id="l_tags">
                            <ul class="category-list">
                                {% for tag in tags %}
                                    <li>
                                        <label>
                                            {% if tag in article.tag1 %}
                                                <input name="tags" type="checkbox" value="{{ tag.id }}"
                                                       checked="checked">
                                                {{ tag.name }}
                                                <em class="hidden-md">( 标签ID: <span>{{ tag.id }}</span> )</em>
                                            {% else %}
                                                <input name="tags" type="checkbox" value="{{ tag.id }}">
                                                {{ tag.name }}
                                                <em class="hidden-md">( 标签ID: <span>{{ tag.id }}</span> )</em>
                                            {% endif %}
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>描述</span></h2>
                        <div class="add-article-box-content">
                            <textarea class="form-control" name="describe"
                                      autocomplete="off">{{ article.description }}</textarea>
                            <span class="prompt-text">描述是可选的手工创建的内容总结，并可以在网页描述中使用</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <h1 class="page-header">操作</h1>
                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>分类</span></h2>
                        <div class="add-article-box-content">
                            <ul class="category-list">
                                {% for type in types %}
                                    {% if article.articletype == type %}
                                        <li>
                                            <label>
                                                <input name="category" type="radio" value="{{ type.id }}" checked>
                                                {{ type.name }} <em class="hidden-md">( 分类ID: <span>{{ type.id }}</span>
                                                )</em></label>
                                        </li>
                                    {% else %}
                                        <li>
                                            <label>
                                                <input name="category" type="radio" value="{{ type.id }}">
                                                {{ type.name }} <em class="hidden-md">( 分类ID: <span>{{ type.id }}</span>
                                                )</em></label>
                                        </li>
                                    {% endif %}

                                {% endfor %}


                            </ul>
                        </div>
                    </div>
                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>标签</span></h2>
                        <div class="add-article-box-content">
                            <input id="r_tags" type="text" class="form-control" placeholder="输入新标签" autocomplete="off">
                            <span class="prompt-text">多个标签请用英文逗号,隔开</span></div>
                    </div>
                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>标题图片</span></h2>
                        <div class="add-article-box-content">
                            <input type="text" class="form-control" placeholder="点击按钮选择图片" id="pictureUpload"
                                   name="titlepic" autocomplete="off" value="{{ article.img }}">
                        </div>
                        <div class="add-article-box-footer">
                            <button class="btn btn-default" type="button" ID="upImage">选择</button>
                        </div>
                    </div>
                    <div class="add-article-box">
                        <h2 class="add-article-box-title"><span>发布</span></h2>
                        <div class="add-article-box-content">
                            {#                            <p><label>状态：</label><span class="article-status-display">已发布</span></p>#}
                            {#                            <p><label>公开度：</label><input type="radio" name="visibility" value="0" checked/>公开 <input#}
                            {#                                    type="radio" name="visibility" value="1"/>加密</p>#}
                            <p><label>发布于：</label>
                                <span class="article-time-display">
                                    <input style="border: none;" type="datetime" name="time"
                                           value="{{ article.create_time }}"/>
                                </span>
                            </p>
                        </div>
                        <div class="add-article-box-footer">
                            <button class="btn btn-primary" type="submit" name="submit">更新</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}


{% block MyJs %}

    <script>

        $(function () {
            var tags = $(".category-list").first().find("li");

            function show_tags() {
                for (var i = 0; i < tags.length; i++) {
                    tag = $(tags[i]).find("input").first();
                    if (tag.attr("checked")) {
                        $("#r_tags").val($("#r_tags").val() + "标签" + $(tag).val() + ",");
                        {#console.log($(tag).val())#}
                    }
                }
            }

            show_tags();
        })

    </script>

{% endblock %}
