{% extends 'admin/base.html' %}
{% block content %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
        <h1 class="page-header">分类栏目</h1>
        <form action="{{ url_for("admin.update_tag", id=type.id) }}" method="post">
            <input type="hidden" value="{{ type.id }}">
            <div class="form-group">
                <label for="category-name">分类名称</label>
                <input type="text" id="category-name" name="name" value="{{ type.name }}" class="form-control"
                       placeholder="在此处输入栏目名称" required autocomplete="off">
                <span class="prompt-text">这将是它在站点上显示的名字。</span></div>
            <div class="form-group">
                <label for="category-alias">分类别名</label>
                <input type="text" id="category-alias" name="cname" value="{{ type.cname }}" class="form-control"
                       placeholder="在此处输入栏目别名" required autocomplete="off">
                <span class="prompt-text">“别名”是在URL中使用的别称，它可以令URL更美观。通常使用小写，只能包含字母，数字和连字符（-）。</span></div>
            <button class="btn btn-primary" type="submit" name="submit">更新</button>
        </form>
    </div>
{% endblock %}
{% block MyJs %}
    <script>
        if (`{{ msg }}`) {
            alert(`{{ msg }}`)
        }
    </script>
{% endblock %}